@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: 281deg 100% 56%;
  --color-background-primary: 0deg 0% 100%;
  --color-background-secondary: 0deg 0% 96%;
  --color-text-primary: 242deg 100% 15%;
  --color-text-secondary: 0deg 0% 20%;
  --color-text-dimmed: 0deg 0% 40%;
  --color-border-primary: 0deg 0% 88%;
  --color-border-secondary: 0deg 0% 85%;
}

[data-theme="uiuxdesigner"] {
  --color-primary: 281deg 100% 56%;
  --color-background-primary: 0deg 0% 100%;
  --color-background-secondary: 0deg 0% 96%;
  --color-text-primary: 242deg 100% 15%;
  --color-text-secondary: 0deg 0% 20%;
  --color-text-dimmed: 0deg 0% 40%;
  --color-border-primary: 0deg 0% 88%;
  --color-border-secondary: 0deg 0% 85%;
}

[data-theme="photographer"] {
  --color-primary: 253deg 87% 88%;
  --color-gradient-primary-start: 210deg 100% 86%;
  --color-gradient-primary-end: 301deg 89% 82%;
  --color-background-primary: 229deg 18% 18%;
  --color-background-secondary: 231deg 18% 15%;
  --color-background-neutral: 234deg 16% 25%;
  --color-text-primary: 0deg 0% 100%;
  --color-text-secondary: 234deg 16% 61%;
  --color-text-dimmed: 234deg 15% 30%;
}

[data-theme="marketer"] {
  --color-primary: 94deg 99% 65%;
  --color-background-primary: 266deg 30% 05%;
  --color-background-secondary: 30deg 8% 10%;
  --color-background-neutral: 94deg 93% 19%;
  --color-text-primary: 0deg 0% 100%;
  --color-text-secondary: 0deg 0% 69%;
}

[data-theme="lawyer"] {
  --color-primary: 39deg 50% 60%;
  --color-background-primary: 0deg 0% 18%;
  --color-background-secondary: 0deg 0% 13%;
  --color-text-primary: 0deg 0% 100%;
  --color-text-secondary: 0deg 1% 63%;
}

[data-theme="chef"] {
  --color-primary: 6deg 84% 56%;
  --color-background-primary: 30deg 100% 95%;
  --color-background-secondary: 0deg 0% 100%;
  --color-text-primary: 0deg 0% 13%;
  --color-text-secondary: 0deg 0% 51%;
  --color-border-primary: 223deg 4% 37%;
}

[data-theme="architect"] {
  --color-primary: 25deg 29% 59%;
  --color-background-primary: 243deg 7% 19%;
  --color-background-secondary: 225deg 7% 22%;
  --color-text-primary: 0deg 0% 100%;
  --color-text-secondary: 340deg 3% 63%;
  --color-border-primary: 223deg 4% 37%;
}

[data-theme="doctor-1"] {
  --color-primary: 40deg 5% 11%;
  --color-background-primary: 0deg 0% 100%;
  --color-background-secondary: 0deg 0% 95%;
  --color-text-primary: 40deg 5% 11%;
  --color-text-secondary: 0deg 1% 31%;
  --color-text-dimmed: 0deg 0% 30%;
  --color-border-primary: 180deg 3% 93%;
}

[data-theme="doctor-2"] {
  --color-primary: 177deg 100% 32%;
  --color-accent: 33deg 99% 60%;
  --color-background-primary: 0deg 0% 100%;
  --color-background-secondary: 168deg 56% 96%;
  --color-background-neutral: 173deg 49% 93%;
  --color-text-primary: 212deg 15% 17%;
  --color-text-secondary: 213deg 10% 18%;
  --color-text-dimmed: 213deg 7% 33%;
  --color-border-primary: 173deg 49% 93%;
}

[data-theme="doctor-3"] {
  --color-primary: 252deg 100% 55%;
  --color-background-primary: 104deg 32% 91%;
  --color-background-secondary: 0deg 0% 100%;
  --color-text-primary: 213deg 10% 18%;
  --color-text-secondary: 213deg 10% 38%;
}

[data-theme="engineer"] {
  --color-primary: 17deg 66% 50%;
  --color-background-primary: 04deg 0% 11%;
  --color-background-secondary: 0deg 0% 20%;
  --color-text-primary: 0deg 0% 93%;
  --color-text-secondary: 0deg 0% 59%;
}

[data-theme="hair-expert"] {
  --color-primary: 291deg 66% 41%;
  --color-background-primary: 0deg 0% 100%;
  --color-background-secondary: 274deg 100% 99%;
  --color-background-neutral: 0deg 0% 95%;
  --color-text-primary: 22deg 64% 11%;
  --color-text-secondary: 0deg 0% 31%;
  --color-text-dimmed: 0deg 0% 45%;
  --color-border-primary: 340deg 100% 1%;
}

@theme inline {
  --font-poppins: var(--font-poppins), sans-serif;
  --font-sacramento: var(--font-sacramento), cursive;
  --font-roboto: var(--font-roboto), sans-serif;
  --font-teko: var(--font-teko), sans-serif;
  --font-rubik: var(--font-rubik), sans-serif;
  --font-inter: var(--font-inter), sans-serif;
  --font-taviraj: var(--font-taviraj), serif;
  --font-playfairDisplay: var(--font-playfairDisplay), serif;
  --font-jost: var(--font-jost), sans-serif;
  --font-lora: var(--font-lora), serif;
  --font-dmSans: var(--font-dmSans), sans-serif;
  --font-plusJakartaSans: var(--font-plusJakartaSans), sans-serif;
  --font-ebGaramond: var(--font-ebGaramond), serif;
  --font-chakraPetch: var(--font-chakraPetch), sans-serif;
  --font-mulish: var(--font-mulish), sans-serif;
  --font-syne: var(--font-syne), sans-serif;
  --font-arimo: var(--font-arimo), sans-serif;

  --color-primary: hsl(var(--color-primary));
  --color-accent: hsl(var(--color-accent));
  --color-gradient-primary-start: hsl(var(--color-gradient-primary-start));
  --color-gradient-primary-end: hsl(var(--color-gradient-primary-end));
  --color-background-primary: hsl(var(--color-background-primary));
  --color-background-secondary: hsl(var(--color-background-secondary));
  --color-background-neutral: hsl(var(--color-background-neutral));
  --color-text-primary: hsl(var(--color-text-primary));
  --color-text-secondary: hsl(var(--color-text-secondary));
  --color-text-dimmed: hsl(var(--color-text-dimmed));
  --color-border-primary: hsl(var(--color-border-primary));
  --color-border-secondary: hsl(var(--color-border-secondary));
}

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
